body{
  text-align: left;
}

#middle-section {
  margin-top: 10%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#f8f9fa!important;
  color: rgb(87, 81, 81);
  text-align: center;
  border-top: 2px solid black;
}

#footer-coment{
  padding:10px;
}

#navbarSupportedContent{
margin-left:57%;
}

#nav-bar-up{
  padding: 0;
}

.header{
  border-bottom: 2px solid black;
  width: 100%;
  background-color: #f8f9fa!important;
  font-family: cursive;
  font-size: 25px;
}

.ronald{
  height:380px;
}

.card-img-top{
  height: 250px;
}

#first-container{
  text-align: center;
}

#second-container{
  margin-top: 20px;
  text-align: center;
}

#game4{
  position: relative;
}

.text1{
  position: absolute;
  top: 200px;
  background-color:#4aaaaa;
  color: black ;
  width:100%;
  left:0;
  text-decoration: none;
}